{% extends 'base.html' %}
{% block content %}
{% load static %}

<style>
    @media (max-width:986px) {
        .special .content .contents {
            width: 100%;
            height: auto;
            text-align: left;

            margin: 1px;
        }

        .special .content .contents img {
            width: 100%;
            height: auto;
        }

       .unlist{
        padding: 30px;
        font-size: 14px;
       }
    }

    @media all and (max-width:986px) {

        nav ul {
            margin: 0;
            float: left;
        }

        nav .logo {
            padding-left: 30px;
            width: 100%;
        }

        nav ul li {
            display: block;
            width: 100%;
        }

        .icon {
            display: block;
            color: white;
            position: absolute;
            right: 40px;
            line-height: 220px;
            font-size: 5rem;
            cursor: pointer;
            z-index: 1001;
        }



        nav ul {
                display: none;
                background-color: #8B2F8A;
                position: relative;
            }

        nav ul li a {
            right: 7rem;
            font-size: 3rem;
            line-height: 150px;
        }

        [id^=btn-2]:checked+ul {
            display: block;
        }
    }
</style>



<div class="special">
    <h2>About us</h2>
    <div class="content">

        <div class="contents desc">
            <h3>Our story</h3>
            <p>In 2013, our founding team members – made up of photographers level Amateur to Pro – were looking for a
                simple and beautiful way to share photos with friends and clients. Back then, the existing online
                gallery hosting systems required too much technical know-how, or were simply not pleasing to look at. We
                soon realized that many other photographers were also in need of a design-centric, hassle-free gallery
                platform, and Pixieset was born.

                Today, we're a profitable, privately-owned company that focuses on making photography software simpler
                and better. Over the coming years, we will be leading the charge in creating innovative products that
                empower photography businesses so photographers can focus on what they do best: capturing memories.
            </p>
        </div>
        <div class="contents">
            <img src="{% static 'img/photographers w.jpg' %}" alt="">
        </div>
    </div>
    <div class="content reveal">
        <div class="contents">
            <img src="{% static 'img/te.jpg' %}" alt="">
        </div>
        <div class="contents desc">
            <h3>Our Culture & Values</h3>
            <p>We are creators first, business-people second. We are constantly creating and refining our products with
                care and focus. These are some of the values that we live by and pride ourselves in.
            <div class="unlist">
                <ul>
                    <li>Craftsmanship at the heart of everything</li>
                    <li>Simple solutions to complex challenges.</li>
                    <li>Build a positive and happy environment.</li>
                    <li>Do the right thing and produce awesome work.</li>
                    <li>Communicate with honesty and respect.</li>
                    <li>Focus on growth and learning.</li>
                    <li>Live smart, and have fun. </li>
                </ul>
            </div>
            </p>
        </div>
    </div>
    <div class="content reveal">

        <div class="contents desc">
            <h3>Small Team.Big Impact</h3>
            <p>The Studiocode team is a small, tight-knit group of talented individuals. No matter if you are a
                Cameraman,
                Editor, or a Light Technician, we all work together for the greater good of Studiocode and our
                customers. We all share the same passion for creating beautiful and Attractive products. Every team
                member wears multiple hats to solve tough problems every day. </p>
        </div>
        <div class="contents">
            <img src="{% static 'img/photography.jpg' %}" alt="">
        </div>
    </div>

</div>

{% endblock %}